<!-- event-detail.component.html -->

<div class="event-container" *ngIf="eventDetail; else errorTemplate">
    <h2 class="event-title">Szczegóły Wydarzenia</h2>
    
    <div class="event-info">
      <span class="label">Data:</span> {{ eventDetail.date }}
    </div>
    
    <div class="event-info">
      <span class="label">Użytkownik:</span> {{ eventDetail.user.first_name }} {{ eventDetail.user.last_name }}
    </div>
  
    <ng-container *ngIf="isEvent(eventDetail)">
      <div class="event-info">
        <span class="label">Typ zmiany:</span> Dzień pracujący
      </div>
      <div class="event-info">
        <span class="label">Zmiana:</span> {{ eventDetail.shift_name }}
      </div>
      <div class="event-info">
        <span class="label">Start:</span> {{ eventDetail.start_time }}
      </div>
      <div class="event-info">
        <span class="label">Koniec:</span> {{ eventDetail.end_time }}
      </div>
      <div class="event-info">
        <span class="label">Nadgodziny:</span> {{ eventDetail.overtime || 'Brak' }}
      </div>
  
      <div class="overtime-section">
        <label for="overtime" class="overtime-label">Dodaj Nadgodziny:</label>
        <input type="number" [(ngModel)]="overtime" name="overtime" id="overtime" min="0" class="overtime-input" />
        <button (click)="onAddOvertime()" class="overtime-button">Dodaj</button>
      </div>
      <p *ngIf="overtimeMessage" class="overtime-message">{{ overtimeMessage }}</p>
      
      <button (click)="onChangeEventToFreeDay()" class="change-freeday-button">Zmień na dzień wolny</button>
    </ng-container>
  
    <ng-container *ngIf="isFreeDay(eventDetail)">
      <div class="event-info">
        <span class="label">Powód:</span> {{ eventDetail.reason }}
      </div>
    </ng-container>
  
    <ng-container *ngIf="isWeekend(eventDetail)">
      <div class="event-info">
          <span class="label">Typ:</span> Weekend
      </div>
      <button (click)="onChangeWeekendToEvent()" class="change-event-button">Zmień na dzień pracujący</button>
  </ng-container>
  </div>
  
  <ng-template #errorTemplate>
    <p class="error-message">{{ errorMessage }}</p>
  </ng-template>
  