<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<nav>
  <ul class="navbar">
    <li><a routerLink="/plan">Planner</a></li>
    <li><a routerLink="/free_days">Dodaj Urlop</a></li>
    <li><a routerLink="/avaibility">Dodaj Dostępność</a></li>
    <li><a routerLink="/shifts">Stwórz nową zmianę</a></li>
    <li><a routerLink="/faq">Maszyny</a></li>
    <li><a routerLink="/login">Zaloguj się</a></li>
    <li><a routerLink="/register">Zarejestuj się</a></li>
    <li><a routerLink="/logout">Wyloguj się</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>