@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

:root {
    --primary-blue: #1e90ff;
    --secondary-blue: #63b3ed;
    --light-gray: #f5f5f5;
    --dark-gray: #333;
    --error-red: #ff4d4f;
  
    /* Czcionki */
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Playfair Display', serif;
    --font-accent: 'Roboto', sans-serif;
    --font-body: 'Open Sans', sans-serif;
  }

body{
    margin: 0;
    padding: 0;
}
