/* plan.component.css */

.month-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.month-navigation button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.current-month {
  font-size: 1.5em;
  font-weight: bold;
}

.days-header {
  display: none; /* Ukrywamy starszy nagłówek z dniami */
}

.calendar-grid {
  overflow-x: auto; /* Pozwala na przewijanie w poziomie */
}

.calendar-grid table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-grid th,
.calendar-grid td {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: 60px;
  position: relative;
}

.calendar-grid th.user-column {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  z-index: 2;
}

.calendar-grid th.date-column {
  background-color: #f1f1f1;
  text-align: center;
}

.calendar-grid td.user-name {
  background-color: #f9f9f9;
  font-weight: bold;
  position: sticky;
  left: 0;
  z-index: 1;
}

.event {
  background-color: #FFCDD2;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 15px
}

.free-day {
  border-radius: 4px;
  font-size: 0.9em;
}

.weekend {
  border-radius: 4px;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .calendar-grid th,
  .calendar-grid td {
    min-width: 80px;
    padding: 6px;
  }

  .calendar-grid td.event-cell {
    height: 80px;
  }

  .event,
  .free-day,
  .weekend {
    font-size: 0.8em;
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}

.isLoading {
  font-style: italic;
}

.weekend span {
  font-size: 1.2em; /* Zwiększenie rozmiaru emotki */
  vertical-align: middle; /* Wyrównanie pionowe */
}
.free-day span {
  font-size: 1.2em; /* Zwiększenie rozmiaru emotki */
  vertical-align: middle; /* Wyrównanie pionowe */
}