/* plan.component.css */

.month-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.month-navigation button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.current-month {
  font-size: 1.5em;
  font-weight: bold;
}

.days-header {
  display: none; /* Ukrywamy starszy nagłówek z dniami */
}

.calendar-grid {
  overflow-x: auto; /* Pozwala na przewijanie w poziomie */
}

.calendar-grid table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-grid th,
.calendar-grid td {
  border: 1px solid #ddd;
  padding: 6px;
  position: relative;
  text-align: center; /* Wyśrodkowanie poziome */
  vertical-align: middle; /* Wyśrodkowanie pionowe */
}

.calendar-grid th.user-column {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  z-index: 2;
}

.calendar-grid th.date-column {
  background-color: #f1f1f1;
  text-align: center;
}

.calendar-grid td.user-name {
  background-color: #f9f9f9;
  font-weight: bold;
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: center; /* Wyśrodkowanie poziome */
  vertical-align: middle; /* Wyśrodkowanie pionowe */
}

.calendar-grid td.event-cell {
  text-align: center; /* Wyśrodkowanie poziome */
  vertical-align: middle; /* Wyśrodkowanie pionowe */
  overflow: hidden;
}

.event {
  /* Usunięto statyczne tło, aby umożliwić dynamiczne przypisywanie kolorów */
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 6px;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  display: inline-block; /* Zapewnia, że elementy nie nachodzą */
}

.free-day {
  background-color: #C8E6C9;
  margin-bottom: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
  width: 90%;
}

.weekend {
  border-radius: 4px;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  width: 90%;
}

.weekend span,
.free-day span {
  font-size: 1.2em; /* Zwiększenie rozmiaru emotki */
  vertical-align: middle; /* Wyrównanie pionowe */
}

.event-content {
  margin: 2px 0; /* Odstępy między elementami */
}

@media (max-width: 768px) {
  .calendar-grid th,
  .calendar-grid td {
    min-width: 80px;
    padding: 6px;
  }

  .calendar-grid td.event-cell {
    height: 80px;
  }

  .event,
  .free-day,
  .weekend {
    font-size: 0.8em;
  }

  .weekend span,
  .free-day span {
    font-size: 1em;
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}

.isLoading {
  font-style: italic;
}

/* Legenda Kolorów */
.shift-legend {
  margin-bottom: 20px;
}

.shift-legend ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.shift-legend li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ddd;
}
